{% extends 'base.html'%}
{% block title %}Hostel Management System{% endblock  %}

{% block content %}
    <div class="mainpage">
        <img class="mainImage" src="https://architra.files.wordpress.com/2013/06/d.jpg"
            alt="unable to load image">
        <h1 class="mainH1">Welcome to <br> Hostel Management System</h1>
        <ul class="mainLogin">
            <li class="navitem3"><a href="./createform" target="_blank">Register as Student</a></li>
            <li class="navitem3"><a href="./admin" target="_blank">Register as Admin</a></li>
        </ul>
    </div>
{% endblock  %}