{% extends 'base.html'%}
{% block title %}SHOW DATA{% endblock %}
{% block content %}
<div class="mainContainer">

    <div class="showcontainer1">
        <h2 class="FirstContainerH2">Student Details</h2>
        <table border="1" cellspacing="0">
            <tr>
                <th class="thead1">Regno</th>
                <th class="thead1">Name</th>
                <th class="thead1">Gender</th>
                <th class="thead1">Date of Birth</th>
                <th class="thead1">City</th>
                <th class="thead1">State</th>
                <th class="thead1">Country</th>
            </tr>
                {% for item in sdata %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td>{{item[6]}}</td>
                </tr>
                {% endfor %}

        </table>

        <div class="showcontainer2">
            <h2>Your Hostel Details</h2>
            <table border="1" cellspacing="0">
                <tr>
                    <th class="thead1">Block name</th>
                    <th class="thead1">Floor</th>
                    <th class="thead1">Room no</th>
                    <th class="thead1">Regno</th>
                </tr>
                    {% for item2 in sdata2 %}
                    <tr>
                        <td>{{item2[0]}}</td>
                        <td>{{item2[1]}}</td>
                        <td>{{item2[2]}}</td>
                        <td>{{item2[3]}}</td>

                    </tr>
                    {% endfor %}


            </table>
        </div>

        <div class="showcontainer3">
            <h2>Hostel Details</h2>
            <table border="1" cellspacing="0">
                <tr>
                    <th class="thead1">regno</th>
                    <th class="thead1">Year</th>
                    <th class="thead1">Branch</th>
                </tr>
                    {% for item1 in sdata1 %}
                    <tr>
                        <td>{{item1[0]}}</td>
                        <td>{{item1[1]}}</td>
                        <td>{{item1[2]}}</td>
                    </tr>
                    {% endfor %}


            </table>
        </div>

        <div class="showcontainer4">
            <h2>Admin Details</h2>
            <table border="1" cellspacing="0">
                <tr>
                    <th class="thead1">Admin regno</th>
                    <th class="thead1">Admin name</th>
                    <th class="thead1">Gender</th>
                    <th class="thead1">Department</th>
                    <th class="thead1">Email id</th>
                </tr>
                    {% for item3 in sdata3 %}
                    <tr>
                        <td>{{item3[0]}}</td>
                        <td>{{item3[1]}}</td>
                        <td>{{item3[2]}}</td>
                        <td>{{item3[3]}}</td>
                        <td>{{item3[4]}}</td>
                    </tr>
                    {% endfor %}


            </table>
        </div>
    </div>
    {% endblock %}